[Unit]
Description=Discord Bot - 뽀삐
After=network.target

[Service]
Type=simple
User=opc
WorkingDirectory=/home/opc/output
ExecStart=/usr/bin/python3 main.py
Restart=always
RestartSec=10
EnvironmentFile=/home/opc/output/.env

[Install]
WantedBy=multi-user.target
